.box{

    width:400px;
    /*border-style:solid;*/
    height:400px;
    margin:150px auto;
    background-color:red;
    color:white;
    text-align:center;
    padding-top:20px;
    box-sizing:border-box;
    transition:transform 2s;
    
}

.trans:hover{
    transform:rotateY(180deg);
}